fieldset {
	padding: 1em;
}

/*fieldset .button,*/
fieldset .checkbox,
fieldset .contentbutton,
fieldset .date,
fieldset .file,
fieldset .image,
fieldset .multi,
fieldset .password,
fieldset .radio,
fieldset .recaptcha,
fieldset .reset,
fieldset .select,
/*fieldset .submit,*/
fieldset .text,
fieldset .textarea,
fieldset .file
{

	display: block;
	clear: left;
	border: 0;
	margin: 1px;
        margin-bottom: 8px; /* para el espacio entre los campos*/
	/* when no label */
	margin-left: 12em;

}

fieldset .button.label,
fieldset .checkbox.label,
fieldset .contentbutton.label,
fieldset .date.label,
fieldset .image.label,
fieldset .multi.label,
fieldset .password.label,
fieldset .radio.label,
fieldset .recaptcha.label,
fieldset .reset.label,
fieldset .select.label,
fieldset .submit.label,
fieldset .text.label,
fieldset .textarea.label,
fieldset .file.label

{
	margin-left: 1px;
}
fieldset .error.label {
	/* border + margin swap values with above, to ensure rows align */
	border: 1px #fff;
	margin: 0;
}

form .form_error_message {
	padding: 0.5em;
	border: 1px solid #ff0000;
	background-color: #ffdddd;
}
fieldset .error_message {
       display: block;
       color: #ff0000;
}

fieldset .label .error_message {
       /* padding-left eq label width + padding-right */
       padding-left: 12em;
}



fieldset .error input,
fieldset .error textarea,
fieldset .error select {
       background-color: #ffdddd;
}


fieldset .button label,
fieldset .contentbutton label,
fieldset .checkbox label,
fieldset .date label,
fieldset .file label,
fieldset .image label,
fieldset .multi label,
fieldset .password label,
fieldset .radio label,
fieldset .radiogroup label,
fieldset .recaptcha label,
fieldset .select label,
fieldset .text label,
fieldset .textarea label,
fieldset .combobox label,
fieldset .file label
{

	display: inline;
	float: left;
	width: 30%;
/* 	text-align:justify; */

}


fieldset .comment .comment {
	/* when no label */
/* 	display: block; */
	margin-left: 0em;
}



fieldset .label .comment {
/* 	display: block; */
/* 	margin-left: 12em; */
}

fieldset .completo label
{
        display: block;
        width: 100%;
        padding-right: 3em;
}

.div_col{
position:relative;
float:left;
/*color: #4D4D4D;*/
width:50%;
}

.div_col2{
position:relative;
float:right;
/*color: #4D4D4D; */
width:50%;
}


.masterfield {
  position:relative;
  width: 90%;
  margin-left: 30%;
  margin-bottom: 10px;
  border-color: #dadada;
  width:78%;
  margin:10px auto 10px auto;
}

fieldset .selectpractica {
width:60%;
margin-left: 8px;
}

fieldset #main_tx_telefono {
clear:left;
}


.coordenadas .text {
	display: inline;
	border: 0;
	margin: 1px;
	margin-left: 1px;
}

.coordenadas .text .comment {
	display: inline;
	margin-left: 1px;
}



.div_col_1_4{
position:relative;
float:left;
width: 25%;
}


.div_col_2_4{
position:relative;
float:left;
width:25%;
}

.div_col_3_4{
position:relative;
float:left;
width:25%;
}

.div_col_4_4{
position:relative;
float:right;
width:25%;
}

.div_col_completa {
clear:both;
width:100%;
padding-top: 16px;
}

.div_col_1_1{
position:relative;
float:left;
width: 35%;
}


.div_col_2_2{
position:relative;
float:left;
width:33%;
}

.div_col_3_3{
position:relative;
float:right;
width:30%;
}
.div_col_0_3{
position:relative;
float:right;
width: 28%;
}

