[%- USE Number.Format( THOUSANDS_SEP => '.', DECIMAL_POINT => ',', DECIMAL_DIGITS => 2, DECIMAL_FILL => 1 ) %]
[%- IF datos %]
[%- FOREACH fila IN datos %]
[%- IF fila == datos.last %]
[%- fila | replace('Ñ', 'N') %]
[%- ELSE %]
[%- fila | replace('Ñ', 'N') %]
[%- "\r\n" %]
[%- END %]
[%- END %]
[%- END %]