\lhead{
  \includegraphics[ width=9.5cm,height=1.7cm]{[% Catalyst.path_to('root/static/images/') %]/cintilloAVP.png}
}

\begin{flushright}
\includegraphics{[% imagen_codigo %]} 
\end{flushright}
\begin{flushright}
\footnotesize{ \textbf { CODIGO: [% constancia.cod_constancia %] } }
\end{flushright}
